.App {
  text-align: center;
  padding-bottom: 50px;
}
.conteiner{
  background: #fff;
    max-width: 600px;
    margin: 100px auto auto;
    padding: 32px 24px;
    border-radius: 3px;
}

.login-page{
  display:flex;
  background: rgba(45,45,45, 0.5);
  min-height: 800px;
}
.LoginPage.site-logo{
  width: 400px;
  margin:0 30px 30px 0px ;
}

.Header.site-logo{
  height:100%;
  height:"100%";
  cursor:"pointer";
  display:inline-block;

  border-radius:40px;
}
.Header .tabs{
  margin-left: 20px;
  display:inline-block !important;
  vertical-align:bottom;
}
.Header .tab:hover{
  background-color: rgb(162, 206, 87);
}
.Header .tab{
  min-width:100px;
  min-height: 50px;
  border-radius:15px 15px 0 0;
  box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.12);
}
.Header .tab.selected{
  background-color: red;
}

.Header .tab.plus{
  min-width: 40px !important;
  border-radius:5px 5px 0 0;
}
.tab.selected .MuiTab-wrapper{
  background-color: white;
  min-height:24px;
}

.line-delimiter {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e5e4;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Sentence{
  padding-left:5px;
  text-align:left;
  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.Header{
  background-color: rgba(175, 212, 112);
  height:80px;
}
.Header-Right-Component{
  float:right;
  display:inline-block;
  height:100%;
}
.Header-Right-Component:hover{
  opacity:0.8;
}

.Header-Left-Component{
    float:left;
    display:inline-block;
    height:100%;
    text-align:left;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn{
    display:inline-block;
    text-decoration: none;
    border-radius: 4px;
    margin:5px 0px;
    text-align: left;
}
.btn.login{
  width:300px;
  height:40px;
}

.btnContainer.login{
    margin: 7px 20px;
}
.sns-icon{
  width:20px;
  vertical-align: middle;
  padding-right: 10px;
}
.btn.original{
  background-color: #3C8B86;
  border-color: #3C8B86;
  color:white;
  text-align: center;
}
.Home{
 text-align:center;
}
.sideBar{
  width:150px;
  height:1000px;
  background-color:gray;
  display:inline-block;
  vertical-align: top;

}

.login.invisible{
  opacity: 0.6;
}
.btn.google{
  background: #f6f6f6;
  color: #bbb;
}
.btn.twitter{
  background: #65bbf2;
  color: #fff;
}
.btn.faceBook{
  background: #315096;
  color: #fff;
}

.RightClickMenu{
  position:absolute;
}
.FadeLayer{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
